* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 0 15px;
    font-family: sans-serif;
}

h2 {
    margin-bottom: 10px;
}

p {
    margin-bottom: 10px;
    font-size: 4vw;
}

section {
    margin: 0 0 20px 0;
}

main,
aside {
    padding-top: 20px;
}

aside {
    padding: 10px;
}

.sidebar {
    display: none;
}

.desktopPhotos {
    overflow: hidden;
    position: relative;
    height: 200px;
}

.desktopPhoto,
.mobilePhoto {
    width: 100%;
    max-width: 500px;
    height: 200px;
    background: #000;
    border-radius: 20px;
}

@media screen and (min-width: 1024px) {
    section,
    .sidebar {
         /* @NOTE: This unhides the .desktopPhoto class */
        display: flex;
        min-height: 100vh;
        flex-direction: column;
        justify-content: center;
    }

    .mobilePhoto {
        display: none;
    }

    .wrapper {
        display: grid;
        grid-template-columns: 60% 40%;
        gap: 10px
    }
}

@media screen and (min-width: 1200px) {
    .wrapper {
        grid-template-columns: 70% 30%;
    }
}

.desktopPhoto {
    position: absolute;
}

.desktopPhoto.red,
.mobilePhoto.red {
    background: lightcoral;
}

.desktopPhoto.yellow,
.mobilePhoto.yellow {
    background: rgb(255, 255, 88);
}

.desktopPhoto.green,
.mobilePhoto.green {
    background: lightgreen;
}

.desktopPhoto.pink,
.mobilePhoto.pink {
    background: lightpink;
}